@media (max-width: 1000px) {
  .for_top_info {
    margin-top: 0 !important;
  }
}

@media (min-width: 1000px) {
  .for_top_info {
    margin-top: 100px !important;
  }
}

.article_footer_ul {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding-inline-start: 0 !important;
}

.fixed_on_page_box {
  position: fixed;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
  z-index: 99999999;
}
